body {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000000;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

.next-video {
}

#video-player {
  width: 640px;
  height: 360px;
}

@media (max-width: 600px) {
  /* CSS that should be displayed if width is equal to or less than 600px goes here */
  .next-video {
    bottom: 20%;
    left: 5%;
  }
}
